In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as stn

In [2]:
cars = pd.read_csv("cars.csv")

In [17]:
cars.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US

In [18]:
cars.describe()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model
count,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000
mean,23.051232,5.475369,194.779557,103.529557,2979.413793,15.519704,75.921182
std,8.401777,1.712160,104.922458,40.520659,847.004328,2.803359,3.748737
min,0.000000,3.000000,68.000000,0.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2226.500000,13.700000,73.000000
50%,22.350000,4.000000,151.000000,93.500000,2822.500000,15.500000,76.000000
75%,29.000000,8.000000,302.000000,129.000000,3618.250000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [32]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car           406 non-null    object
 1   MPG           406 non-null    float64
 2   Cylinders     406 non-null    int64
 3   Displacement  406 non-null    float64
 4   Horsepower    406 non-null    int64
 5   Weight        406 non-null    int64
 6   Acceleration  406 non-null    float64
 7   Model         406 non-null    int64
 8   Origin        406 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.7+ KB

In [25]:
x=cars.drop(['MPG','Car','Origin'],axis=1)
y=cars.MPG

In [26]:
x

     Cylinders  Displacement  Horsepower  Weight  Acceleration  Model
0            8         307.0         130    3504          12.0     70
1            8         350.0         165    3693          11.5     70
2            8         318.0         150    3436          11.0     70
3            8         304.0         150    3433          12.0     70
4            8         302.0         140    3449          10.5     70
..         ...           ...         ...     ...           ...    ...
401          4         140.0          86    2790          15.6     82
402          4          97.0          52    2130          24.6     82
403          4         135.0          84    2295          11.6     82
404          4         120.0          79    2625          18.6     82
405          4         119.0          82    2720          19.4     82

[406 rows x 6 columns]

In [27]:
y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
401    27.0
402    44.0
403    32.0
404    28.0
405    31.0
Name: MPG, Length: 406, dtype: float64

In [28]:
x=stn.add_constant(x)

In [29]:
model=stn.OLS(y,x).fit()

In [30]:
model.params

const          -22.136516
Cylinders       -0.204543
Displacement     0.008887
Horsepower       0.000318
Weight          -0.007122
Acceleration     0.131171
Model            0.839404
dtype: float64

In [31]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    MPG   R-squared:                       0.748
Model:                            OLS   Adj. R-squared:                  0.745
Method:                 Least Squares   F-statistic:                     197.7
Date:                Mon, 25 Jul 2022   Prob (F-statistic):          3.35e-116
Time:                        09:13:49   Log-Likelihood:                -1159.7
No. Observations:                 406   AIC:                             2333.
Df Residuals:                     399   BIC:                             2361.
Df Model:                           6
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const          -22.1365      5.524     -4.007      0.000     -32.996     -11.277
Cylinders       -0.2045      0.404     -0.507      0.613      -0.998       0.589
Displacement     0.0089      0.009      0.996      0.320      -0.009       0.026
Horsepower       0.0003      0.013      0.024      0.981      -0.026       0.027
Weight          -0.0071      0.001     -9.073      0.000      -0.009      -0.006
Acceleration     0.1312      0.115      1.143      0.254      -0.095       0.357
Model            0.8394      0.063     13.349      0.000       0.716       0.963
==============================================================================
Omnibus:                      156.487   Durbin-Watson:                   1.387
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1482.622
Skew:                          -1.362   Prob(JB):                         0.00
Kurtosis:                      11.957   Cond. No.                     8.15e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.15e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""